body{
	font-size: 20px;

}
h1{
	color: lightseagreen;
	text-decoration: underline;
}
h2{
	color: lime;
}
h3{
	font-size: 30px;
	color: red;
}
.p1{
	color: blueviolet;
	background-color: chocolate;
	max-width: 300px;
}
img{
	max-width: 200px;
}